<!DOCTYPE html>
<html lang='en'>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#28c143">
    <link rel="apple-touch-icon" sizes="194x194" href="/icons/apple-touch-icon.png" type="image/png"/>
    <meta charset='utf-8'>
    <title>שליחת הודעות whatsapp למספרים שלא באנשי הקשר שלך</title>
    <meta property="og:title" content="שליחת הודעות whatsapp למספרים שלא באנשי הקשר שלך"/>
    <meta property="og:url" content="https://d2kuyudyrd0xnk.cloudfront.net/index.html"/>
    <meta property="og:image" content=https://d2kuyudyrd0xnk.cloudfront.net/icons/whatsapp_icon-icons.com_512x512.png"/>
    <meta property="og:site_name" content="quick-whatsapp-msg" />
    <meta property="og:image:type"  content="image/png" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="205335969603357" />
    <meta property="og:description"  content="שימושי. לא צריך למלא הטלפון במספרים זמניים של קבלנים בעלי מקצוע וכו... שולחים וגומרים" />
    <meta name="description" content="שימושי. לא צריך למלא הטלפון במספרים זמניים של קבלנים בעלי מקצוע וכו... שולחים וגומרים">
    <meta name="keywords" content="whatsapp,וואטסאפ,אנשי קשר,שליחת הודעות">
    <link rel="manifest" href="./site.webmanifest">

    <link rel='icon' type='image/x-icon' href='./icons/favicon.png'>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('./sw.js');
        }
    </script>
</head>
<body class='mat-typography' dir='rtl'>
<div id="page-container" class="page-container">
   <div class="vue-cnt" >
       <div class="container mt-3">
           <div class="row">
               <h1>
                   שליחת הודעות whatsapp למספרים שלא באנשי הקשר שלך
               </h1>
               <p class="lead">
                   שימושי. לא צריך למלא הטלפון במספרים זמניים של קבלנים בעלי מקצוע וכו... שולחים וגומרים
               </p>
           </div>
           <div class="mb-3 row" v-if="options.length">
               <label for="auto-complete" class="form-label">חיפוש קיימים</label>
               <v-select v-model="autoSavedInp" :options="options" id="auto-complete" placeholder="חיפוש קיימים" dir="rtl"></v-select>
               <div class="mt-3">
                   <button v-on:click="clearautoSaved()" class="btn btn-danger mb-3">
                       <i class="fa fa-trash" aria-hidden="true"></i>
                       <span>נקה רשימה</span>
                       </button>
               </div>

           </div>
           <div class="mb-3 row">
               <label for="phone" class="form-label">טלפון לשליחה:</label>
               <input v-model="phone" type="tel" class="form-control" placeholder="הזן טלפון לשליחה" id="phone" />
           </div>
           <div class="mb-3 row">
               <label for="fullName" class="form-label">שם מלא:</label>
               <input v-model="fullName" id="fullName" placeholder="מי זה?"  class="form-control" />
           </div>
           <div class="mb-3 row">
               <label for="text-message" class="form-label">תוכן ההודעה:</label>
               <textarea id="text-message" class="form-control"
                      v-model="textMessage"
               ></textarea>
           </div>
           <div>
               <button v-on:click="onSendQuickMessage()" class="btn btn-success mb-3 w-100">
                   <i class="fa fa-whatsapp" aria-hidden="true"></i>
                   <span>שלח</span>
               </button>
           </div>
       </div>

       <div>
<!--           <img src="icons/whatsapp_icon-icons.com_128x128.png" alt="Add to home screen" title="Add to home screen">-->
           <button class="add-button btn btn-success w-100 mb-3">
               <i class="fa fa-home" aria-hidden="true"></i>
               <span>הוסף למסך הבית</span>
           </button>
       </div>
   </div>
</div>


<link href="./css/bootstrap.min.css" rel="stylesheet" >
<link rel="stylesheet" href="./css/fontawesome.css" >
<script type="text/javascript" src="./js/vue.min.js" ></script>
<script  type="text/javascript" src="./js/vue-select.js" ></script>
<script type="text/javascript">
    Vue.component('v-select', VueSelect.VueSelect);
    const homePage = new Vue({
        el: "#page-container",
        data: function () {
            return {
                    isLoaded:false,
                    phone: "",
                    fullName: "",
                    textMessage: "",
                    autoSavedInp:null,
                    options:this.getAutoSaved(),
                    phonePrefix:'+972',
            };
        },
        mounted: function (){
            this.isLoaded = true;
        },
        computed: {
            waLink: function () {
                return  this.phone ? `https://wa.me/+972${+this.phone}?text=${encodeURIComponent(this.textMessage)}`  : '';
            },
        },
        methods: {
            getAutoSaved: function (){
                return  localStorage.getItem('auto-saved') && JSON.parse(localStorage.getItem('auto-saved')) || [];

            },
            onSendQuickMessage: function () {
                if (this.phone.length && this.fullName.length > 1){
                    window.open(this.waLink,'_blank');
                    this.storeToAutoComplete();
                }else{
                    alert('הזן פרטים');
                }
            },
            storeToAutoComplete: function (){
                let autoSaved = this.getAutoSaved();
                const itemIndex = autoSaved.findIndex(item => item.phone === this.phone);
                const item = {label: `${this.phone} | ${this.fullName}`,phone: this.phone,fullName: this.fullName,textMessage:this.textMessage};
                if (itemIndex === -1){
                    autoSaved =  [...autoSaved,item];
                }else{
                    autoSaved[itemIndex] = item;
                    this.autoSavedInp = item;
                }
                this.options = autoSaved;
                localStorage.setItem('auto-saved',JSON.stringify(autoSaved));
            },
            clearautoSaved: function () {
                localStorage.removeItem('auto-saved');
                this.options = [];
            }

        },
        watch: {
            autoSavedInp: function (value) {
                if (value){
                    this.phone = value.phone;
                    this.fullName = value.fullName;
                    this.textMessage = this.textMessage || value.textMessage;
                }else{
                    this.phone = "";
                    this.fullName = "";
                    this.textMessage = "";
                }
            }
        }
    });
</script>
<script>

    let deferredPrompt;
    const addBtn = document.querySelector('.add-button');
    addBtn.style.display = 'none';

    window.addEventListener('beforeinstallprompt', (e) => {
        // Prevent Chrome 67 and earlier from automatically showing the prompt
        e.preventDefault();
        // Stash the event so it can be triggered later.
        deferredPrompt = e;
        // Update UI to notify the user they can add to home screen
        addBtn.style.display = 'block';

        addBtn.addEventListener('click', () => {
            // hide our user interface that shows our A2HS button
            addBtn.style.display = 'none';
            // Show the prompt
            deferredPrompt.prompt();
            // Wait for the user to respond to the prompt
            deferredPrompt.userChoice.then((choiceResult) => {
                if (choiceResult.outcome === 'accepted') {
                    console.log('User accepted the A2HS prompt');
                } else {
                    console.log('User dismissed the A2HS prompt');
                }
                deferredPrompt = null;
            });
        });
    });
</script>
</body>
</html>